@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root{
    --primary-color : #6247AA;
    --secondary-color: #A06CD5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Redressed',sans-serif;
}
/* header */
header{
    width: 100%;
    
}
.title-txt{
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem;
    text-align: center;
}

/* main content */
main{
    display: flex;
}


/* image */
.translate-img{
    max-width: 400px;
    padding: 1rem;
    margin: 2rem 2rem 2rem 4rem;
}

/* process section */
.section-process{
    flex-direction: column;
}

textarea,button{
    outline: none;
    border-style: none;
}

#input{
    display: block;    
    width: 700px;
    height: 10vh;
    margin: 2rem 4rem;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
}

#translate-btn{
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.5rem;
}

.section-process h2{
    margin: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}
#output{
    border: 2px solid var(--secondary-color);
    width: 700px;
    height: 10vh;
    margin: 2rem 4rem;
    padding: 1rem;
    border-radius: 1rem;
}

.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.footer h1{
    display: block;
    text-align: center;
    padding: 0rem 1rem;
}

.footer p{
    display: block;
    padding: 0.5rem ;
    max-width: 600px;
    margin: auto;
    font-size: 1.5rem;
}


@media screen and (max-width:600px){
    main{
        flex-direction: column;
    }

    #input{
        width: 400px;
    }

    #output{
        width: 400px;
    }
}